<div class="fl-photo {{#if isOnline }} online {{/if}}">
    <img src="{{ photo }}" alt="{{ lastName}}{{ firstName }}"/>
</div>
<div class="fl-info">
    <div class="name">
        <span class="last-name">{{ lastName}}</span>
        <span class="first-name">{{ firstName }}</span>
    </div>
    <div class="fl-stat">
        <span class="raiting">rating: </span>
        <span class="rating-value">10203</span>
    </div>
</div>
<div class="fl-active-btns">
    <span class="share"></span>
    <span class="listen"></span>
</div>
