<div class="{{#if isPlayed}}pl-pause{{else}}pl-play{{/if}} icons"></div>
<div class="song-info">
    <span class="song-name">{{ title }}</span>
    <span class="author">{{ artist }}</span>
    <span class="time-bar">{{ minutes }}:{{seconds}}</span>
</div>
<div class="active-btns icons">
    <div class="active-btns-wrapper">
        <div>
            <span class="share" data-id="{{ media_id }}"></span>
            <span class="like"></span>
        </div>
    </div>
    <div class="active-btns-wrapper">
        <div>
            <span class="remove"></span>
            <span class="download"></span>
        </div>
    </div>
</div>

