<div class="photo">
    <img src="{{ src }}" alt="{{ lastName }}"/>
</div>
<div class="info-wrapper">
    <div class="personal-info">
        <span class="second-name">{{ lastName }}</span>
        <span class="first-name">{{ firstName }}</span>
    </div>
    <div class="stats">
        <div class="title-row">
            <span class="songs-title">Songs</span>
            <span class="listeners-title">Listeners</span>
            <span class="rating-title">Rating</span>
        </div>
        <div class="stat-row">
            <span class="songs-total">{{ SongsNumber }}</span>
            <span class="listeners-res">{{ ListenersNumber}}</span>
            <span class="rating-res">{{ Rating }}</span>
        </div>
    </div>
    <div class="beats-main-title">
        Beats for today
    </div>
    <span class="beats-now-wrapper"><span class="beats-now">{{ BeatsNow }}</span> / {{ MaxBeats }}</span>
    <!--<span class="beats-progress">-->
    <!--<div class="beats-stat-wrapper">-->
    <!--<div class="beats-trigger"></div>-->
    <!--</div>-->
    <!--</span>-->
    <!--<span class="beats-max">1500</span>-->
</div>